
:root{
    font-size: 1em;
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{

    background-color: #2980b9;
}

ul.navbar_ul li{
    list-style: none;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}



ul.nav_p1{
    
    width: 60%;
    float: left;

}

ul.nav_p2{
    width: 40%;
    float: left;
    height: 50px;

}

img{
    width: 100px;
    
    
}

nav.nav_encloser{

    width: 100%;
}

div.clear{
    clear: both;
}