:root{
    font-size: 1em;
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{

    background-color: rgba(245, 151, 148, .1);
}
ul{
    overflow: auto;
}
ul li {
    color: #333538;
    font-weight: 1100;
    
}

ul.navbar_ul li{
    font-size: 1.2rem;
    list-style: none;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

ul.nav_p0{
    display: table-cell;
    width: 20%;
    float: left;
    padding-left: 8em;
    

    

}
ul.nav_p1{
    display: table-cell;
    width: 40%;
    float: left;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

}

ul.nav_p2{
    display: table-cell;
    width: 40%;
    float: left;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

}

img.logo{
    display: inline;
   
}


ul.nav_p0 img{

    width: 120px;
    padding-bottom:-2em;
    
    
}
header.wrapper{
margin-top: 1em;
margin-left: -1.5em;
margin-right: -1.5em;
}

    


nav.nav_encloser{
    display: table;
    width: 100%;
    border-spacing: 1.5em 0;
}

div.clear{
    clear: both;
}


button.trial_button{
    padding-top: .7em;
    padding-bottom: .7em;
    padding-right: .7em;
    padding-left: .7em;
    border-radius: 5px;
    line-height: 1.13;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #008060;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

div.clear2 {
    padding-top: 1px;
}

/* deal with main body content */

/* make to table style display */
main.main_entry{
    display: table;
    width: 100%;
}

/* display as table cells to control width */
div.start_free_trial{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
 
    
}

div.picture{
    display: table-cell;
    width: 50%;
    
   
}


/* Listening */
p.main_text{

    font-weight: 800;
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
    letter-spacing: -0.028125em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    color: #004c3f;
}

form.small_form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input.email_input_text{
    width: 60%;
    font-size: 1.1rem;
    
    margin-right: 1em;
    padding: .5em;
}

input.email_input_button{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    padding: .5em;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-right: .7em;
    padding-left: .7em;
    border-radius: 5px;
    line-height: 1.13;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #008060;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

    


p.email_subtext{
    font-size: .8rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

